<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/site_icon.png">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Saran. It uses data from Mapbox.com & OpenWeatherMap.org!!</p>
        <img src="https://picsum.photos/200/300">
    </div>
    {{>footer}}
</body>

</html>