<!DOCTYPE html>
<html>

<head>
    <title>Weather</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/site_icon.png">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Use this page to get weather info.</p>

        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>
        <message>
            <p id="message-1"></p>
            <div>
                <span>
                    {{>image}}
                </span>
                <span>
                    <p id="message-2"></p>
                </span>
            </div>
        </message>
    </div>
    {{>footer}}
    <script src="/js/scripts.js"></script>
</body>

</html>