<!DOCTYPE html>
<html>

<head>
    <title>404</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/site_icon.png">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{msgtxt}}</p>
    </div>
    {{>footer}}
</body>

</html>